html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--output{
    transform: scaleX(-1);
}

video::-webkit-media-controls {
    opacity: 0;
}

.taken {
    height: 150px!important;
    width: 120px!important;
    transition: all 0.5s ease-in;
    border: solid 2px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 10px;
}

#countdown {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.capture-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.red {
    background-image: linear-gradient(to bottom, #ad0a0a, #ff4545);
    border-radius: 50%;
    padding: 20px;
    border: 2px solid #323232;
    width: 80px;
    height: 80px;
    box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
    left: calc(50% - 100px);
}


