* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: black;
}
	
.camera-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
	
.webcam-screen {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
	
#webcam,
#picture {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
	
.capture-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 70px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
	
.red {
	background-image: linear-gradient(to bottom, #ad0a0a, #ff4545);
	border-radius: 50%;
	padding: 20px;
	border: 2px solid #323232;
	width: 80px;
	height: 80px;
	box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
}